body {
  margin: 0;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}

h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  padding: 0.5em;
  font-weight: bold;
  font-size: 36px;
}

h2 {
  color: white;
}

footer {
  font-size: 12px;
  bottom: 10px;
  position: absolute;
  width: 100%;
  color: #7e7e7e;
  text-align: center;
  width: 100%;
}
a {
  text-decoration: none;
  color: #7e7e7e;
}
a:hover {
  color: #ffffff;
}
.annotation {
  position: absolute;
  top: 20vh;
  left: 10vw;
  z-index: 1;
  margin-left: 15px;
  margin-top: 15px;
  padding: 1em;
  width: 250px;
  color: rgb(168, 165, 165);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0.5em;
  font-size: 16px;
  visibility: hidden;
}

#number {
  position: absolute;
  z-index: -1;
}

.info {
  position: absolute;
  top: 20vh;
  right: 5vw;
  color: rgb(168, 165, 165);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0.5em;
  width: 200px;
  padding: 1em;
}
